*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
  gap: 50px;
    width: 99vw;
background:#2B2F53;
overflow-x: hidden;

}
#header{
    margin-top:50px ;
    display: flex;
width: 519px;
height: 52px;
justify-content: center;
align-items: center;
flex-shrink: 0;
}
#header>h1{
    color: #FFF;
font-family: Inter;
font-size: 48px;
font-style: normal;
font-weight: 700;
line-height: 22px; /* 45.833% */
letter-spacing: -0.408px;
}



#searchsection{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
#searchbox{
    display: flex;
width: 596px;
height: 66px;
padding: 7px 8px;
align-items: center;
flex-shrink: 0;
    border-radius: 10px;
background: linear-gradient(168deg, rgba(46, 51, 90, 0.26) 1.62%, rgba(28, 27, 51, 0.26) 95.72%);
box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
}


#searchinput{
    background-color: inherit;
    border: none;
    width: 90%;
    color: var(--Label-Color-Dark-Secondary, rgba(235, 235, 245, 0.60));
font-family: SF Pro Text;
font-size: 17px;
font-style: normal;
font-weight: 400;
line-height: 22px; /* 129.412% */
letter-spacing: -0.408px;
}
#addcitybtn{
    width: 188px;
height: 66px;
flex-shrink: 0;
border-radius: 10px;
background: rgba(74, 57, 127, 0.70);
color: #FFF;
font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: 22px; /* 110% */
letter-spacing: -0.408px;
}

#weatherdisplay{
    display: flex;
    gap: 50px;
    justify-content: flex-start;
    width: 90vw;
    height: fit-content;
    flex-wrap: wrap;
}
#cart{
    display: flex;
    justify-content:space-between;
    width: 412px;
    height: 210px;
flex-shrink: 0;
background-image: url(image/Rectangle\ 1.svg);
background-size: cover;
}

#leftcontainer{
    display: flex;
    width: 50%;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding-left: 20px;
    padding-top: 60px;
    gap: 40px;
}
#leftcontainer>h4{
    color: #FFF;
font-family: SF Pro Display;
font-size: 64px;
font-style: normal;
font-weight: 400;
line-height: 41px; /* 64.063% */
letter-spacing: 0.374px;
}

#cityName{
 display: flex;
 flex-direction: column;
 align-items: flex-start;
}
#lowHight{
    color: var(--Label-Dark-Secondary, rgba(235, 235, 245, 0.60));
font-family: SF Pro Text;
font-size: 13px;
font-style: normal;
font-weight: 400;
line-height: 18px; /* 138.462% */
letter-spacing: -0.078px;
}
#cityname{
    color: var(--Label-Color-Dark-Primary, #FFF);
font-family: SF Pro Text;
font-size: 17px;
font-style: normal;
font-weight: 400;
line-height: 22px;
letter-spacing: -0.408px;
}

#weather{
    color: #FFF;
text-align: right;
font-family: SF Pro Text;
font-size: 13px;
font-style: normal;
font-weight: 400;
line-height: 18px; /* 138.462% */
letter-spacing: -0.078px;
text-align: center;
}

#rightcontainer{
    display: flex;
    flex-direction: column;
width:40%
}
